{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block span %}
span7
{% endblock %}

{% block headerarticle %}
<h3>Editar Asignación</h3>
{% endblock %}

{% block article %}

    {{ form(edit_form) }}
    {{ form(delete_form) }}

{% for rol in app.user.roles %}
    {#   #}
    {% if rol.role == 'ROLE_SUPER_ADMIN' %}
        <a href="{{ path('grupoestudiante') }}"><i class="icon-arrow-left"> Volver a la lista</i></a>
    {% else %}
        <a href="{{ path('grupoestudiantebygrupo', { 'id': idGrupo }) }}"><i class="icon-arrow-left"> Volver a la lista</i></a>
    {% endif %}
{% endfor %}

    
{% endblock %}
