{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block span %}
span7
{% endblock %}

{% block headerarticle %}
    <h3>Asociación Estudiante</h3>
{% endblock %}

{% block article %}
    
{% if MostrarAlerta == 'Si' %}    
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Asociación Creada.</strong> 
    </div>
{% endif %}
    
    
{{ form(form) }}

{% for rol in app.user.roles %}
    {#   #}
    {% if rol.role == 'ROLE_SUPER_ADMIN' %}
        <a href="{{ path('grupoestudiante') }}"><i class="icon-arrow-left"> Volver a la lista</i></a>
    {% elseif rol.role == 'ROLE_ADMIN' %}
        {% if idGrupo != null %}
            <a href="{{ path('grupoestudiantebygrupo', { 'id': idGrupo }) }}"><i class="icon-arrow-left"> Volver a la lista</i></a>
        {% else %}
            <a href="{{ path('grupo') }}"><i class="icon-arrow-left"> Volver a la lista</i></a>
        {% endif %}
    {% endif %}
{% endfor %}


    
{% endblock %}
