{% extends 'TucolegioPpalBundle::ppal.html.twig' %}

{% block article %}
<!-- start: Slider -->
	<div class="slider-wrapper">

		<div id="da-slider" class="da-slider">
			<div class="da-slide">
				<h2>Plataforma</h2>
				<p>Una plataforma escolar, hecha por personas para personas!</p>
				<a href="#" class="da-link">Leer...</a>
				<div class="da-img"><img src="{{ asset('bundles/tucolegioppal/img/parallax-slider/twitter.png') }}" alt="image01" /></div>
			</div>
			<div class="da-slide">
				<h2>Flexible</h2>
				<p>No es un producto terminado, sino que está en constante evolución.</p>
				<a href="#" class="da-link">Leer...</a>
				<div class="da-img"><img src="{{ asset('bundles/tucolegioppal/img/parallax-slider/responsive.png') }}" alt="image02" /></div>
			</div>
			<div class="da-slide">
				<h2>Software Libre</h2>
				<p>Tenemos la política de usar software libre, y mostrar todo lo que se puede lograr a través de la gran comunidad que hace sus aportes para hacernos a todos la vida más fácil.</p>
				<a href="#" class="da-link">Leer...</a>
				<div class="da-img"><img src="{{ asset('bundles/tucolegioppal/img/parallax-slider/html5.png') }}" alt="image03" /></div>
			</div>
			<div class="da-slide">
				<h2>Más cerca...</h2>
				<p>Anhelamos que la gestión escolar acerque más a la comunidad educativa y nos permita ver en tiempo real el rendimiento de nuestro establecimiento y hacer mejoras.</p>
				<a href="#" class="da-link">Leer...</a>
				<div class="da-img"><img src="{{ asset('bundles/tucolegioppal/img/parallax-slider/css3.png') }}" alt="image04" /></div>
			</div>
			<nav class="da-arrows">
				<span class="da-arrows-prev"></span>
				<span class="da-arrows-next"></span>
			</nav>
		</div>
		
	</div>
<!-- end: Slider -->
        
<!--start: Container -->
<div class="container">
                        <hr>
					
			<!-- start: Row -->
			<div class="row">
				
				<!-- start: Icon Boxes -->
				<div class="icons-box-vert-container">

					<!-- start: Icon Box Start -->
					<div class="span6">
						<div class="icons-box-vert">
							<i class="ico-ok ico-color circle-color big"></i>
							<div class="icons-box-vert-info">
								<h3>Fácil de manejar</h3>
								<p>Hecha con el ánimo de ayudar y no de complicar las cosas.</p>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<!-- end: Icon Box-->

					<!-- start: Icon Box Start -->
					<div class="span6">
						<div class="icons-box-vert">
							<i class="ico-cup  ico-white circle-color-full big-color"></i>
							<div class="icons-box-vert-info">
								<h3>Nueva opción</h3>
								<p>Brindamos una nueva alternativa al mantenimiento de la gestión escolar en nuestros colegios.</p>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<!-- end: Icon Box -->

					<!-- start: Icon Box Start -->
					<div class="span6">
						<div class="icons-box-vert">
							<i class="ico-ipad ico-color circle-color big"></i>
							<div class="icons-box-vert-info">
								<h3>En evolución</h3>
								<p>Constantemente trabajamos por mejorar nuestros servicios</p>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<!-- end: Icon Box -->

					<!-- start: Icon Box Start -->
					<div class="span6">
						<div class="icons-box-vert">
							<i class="ico-thumbs-up  ico-white circle-color-full big-color"></i>
							<div class="icons-box-vert-info">
								<h3>Trabajo entre todos</h3>
								<p>Creemos que con la ayuda de todos podemos mejorar nuestras Instituciones, para que cada uno se dedique a lo más importante, Enseñar!! gracias docentes, estudiantes, padres y administrativos.</p>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<!-- end: Icon Box -->

				</div>
				<!-- end: Icon Boxes -->
				<div class="clear"></div>
			</div>
			<!-- end: Row -->
			
			<hr>

</div>
<!--end: Container-->
</div>
<!-- end: Wrapper  -->	

{% endblock %}