{% block span %}
                 <div class="{% block spanclase %}
                                   span6
                               {% endblock %}">      		
	      		
                    
                    
	      		<div class="widget ">
	      			
	      			<div class="widget-header">
     {% block headerspan %}	
                                    
     {% endblock %}
                                 </div> <!-- /widget-header -->
                                 
					
					<div class="widget-content">

     {% block article6 %}

                                 
   
   
                    
     {% endblock %}
                                            
                                        </div>
                        </div>
                </div>
                
{% endblock %}
