{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Jornada creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('jornada') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
