{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block span %}
span7
{% endblock %}

{% block headerarticle %}
    <h3>Lista de Asignaturas</h3>
{% endblock %}

{% block article %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.nombre }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('asignatura_edit', { 'id': entity.id }) }}"><i class="icon-edit"> </i></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('asignatura_new') }}">
                <i class="icon-plus-sign"></i>
                Crear nueva Asignatura
            </a>
        </li>
    </ul>
    {% endblock %}
