{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Editar Dirección</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('direccion') }}">
            Regresar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
