{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Crear Dirección</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('direccion') }}">
            Regresar
        </a>
    </li>
</ul>
{% endblock %}
