{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block span %}
span7
{% endblock %}

{% block headerarticle %}
    <h3>Editar Sede</h3>
{% endblock %}


{% block article %}

{{ form(edit_form) }}
{{ form(delete_form) }}
    
<a href="{{ path('sede') }}"><i class="icon-arrow-left"> Volver</i> </a>

{% endblock %}
