{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Creación Sede</h1>

    {{ form(form) }}

<ul class="record_actions">
    <li>
        <a href="{{ path('sede') }}">
            <i class="icon-arrow-left"></i>
            Volver
        </a>
    </li>
</ul>
{% endblock %}
