{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block span %}
span6
{% endblock %}

{% block headerarticle %}
    <h3>Creación Sede</h3>
{% endblock %}


{% block article %}

    {{ form(form) }}

<ul class="record_actions">
    <li>
        <a href="{{ path('sede') }}">
            <i class="icon-arrow-left"></i>
            Volver
        </a>
    </li>
</ul>
{% endblock %}
