{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Editar Colegio</h1>

    {{ form(edit_form) }}

<ul class="record_actions">
    
    {% for rol in app.user.roles %}
            {#  Sólo puede eliminar registros el super Man #}
            {% if rol.role == 'ROLE_SUPER_ADMIN' %}
                {{ form(delete_form) }}                
                <a href="{{ path('colegio') }}">Volver</a>
            {% elseif rol.role == 'ROLE_ADMIN' %}
                <a href="{{ path('colegio_admin_perfil') }}">Volver</a>
            {% endif %}
        {% endfor %}

</ul>
{% endblock %}
