{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Creación de Colegios</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('colegio') }}">
            Regresar al listado
        </a>
    </li>
</ul>
{% endblock %}
