{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}

    <h1>Creación Grupo</h1>

    {{ form(form) }}

    <a href="{{ path('grupo') }}"><i class="icon-arrow-left"> Volver a la lista</i></a>

{% endblock %}
