{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block span %}
span7
{% endblock %}

{% block headerarticle %}
    <h3>Creación Grupo</h3>
{% endblock %}

{% block article %}

    {{ form(form) }}

   

{% endblock %}
