{% extends 'TemasTemasBundle::admin.html.twig' %}

{% block article %}
    <h1>Crea un Rector</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('rector') }}">
            Regresar al Listado
        </a>
    </li>
</ul>
{% endblock %}
